.wf-item {
	height: 0;
	margin-bottom: 2%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.wf-item-1 {
	width: 47%;
	padding-bottom: 47%;
	margin-left: 2%;
}

.wf-item-2 {
	width: 47%;
	margin-left: 2%;
}

