html, body, div, h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	background-color: #f7f7f7;
	position: relative;
	overflow: hidden;
}

.banner {
	width: 100%;
	margin-bottom: 5px;
}

.cotent {
	width: 100%;
	overflow: hidden;
	position: relative;
}